/*
Admin Participant list view styles
 */
#adminWrapper {
  a {
    color: $md-clr-blue-600;
    text-decoration: underline;
    display: block;
  }
  .participant {
    padding-bottom: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    box-shadow: 0px 0.1em 0.5em rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    color: black;
    background: $md-clr-grey-100;
    .detail {
      line-height: 2em;
      width: 95%;
      margin: 1em auto 0 auto;
    }
    a.active {
      color: black;
      text-decoration: none;
    }

    .controls {
      width: 100%;
      position: relative;
      .btn-fab {
        width: 2em;
        height: 2em;
      }
    }
  }
  // Participant list styling
  .participants-list {
    max-height: 80vh;
    overflow: auto;
    .participant {
      border: 1px solid $md-clr-light-blue-A100;
      &:first-child {
        margin-top: 0px;
      }
    }
  }
  .page-refresh {
    width: 10em;
    height: 10em;
    .refresh-spinner {
      .material-icons {
        font-size: 8em;
      }
    }
  }
  .page-controls {
    width: 75%;
    @include display-flex();
    @include justify-content(space-between);
    @include flex-flow(row, nowrap);
    @include align-items(center);
    margin: auto;
    .page-number {
      color: $md-clr-light-blue-A700;
      font-family: $noto-serif;
      font-weight: $normal-weight;
    }
  }

  button[class^=pagination-arrow] {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
    background-color: transparent;
    &[disabled] {
      cursor: not-allowed;
      background-color: $md-clr-grey-500;
    }
  }

  .pagination-arrow-left {
    border-right: 2em solid $md-clr-blue-500;

  }

  .pagination-arrow-right {
    border-left: 2em solid $md-clr-blue-500;
  }

  // Particpant detail styling

  .participant-wrapper {
    overflow: auto;
    margin-left: 5%;
    width: 95%;
    font-size: 1em;
    .participant {
      display: inline-block;
      width: 45%;
      overflow: auto;
      .story {
        width: 95%;
        margin: 1em auto 0 auto;
        .highlight {
          padding: 0.5rem;
          height: 10rem;
          font-size: 2em;
          width: calc(100% - 0.5em);
          overflow: auto;
        }
      }
    }

    .avatars-gallery {
      position: relative;
      display: inline-block;
      width: 30%;
      height: 80vh;
      margin-left: 5%;
      perspective: 500px;
      transform-style: preserve-3d;
      figure.active {
        transform: translateZ(10px);
      }
      figure {
        position: absolute;
        width: 100%;
        height: 80%;
        top: 10%;
        background-color: $md-clr-grey-50;
        transition: all 0.75s ease-out;
        transform: translateZ(-10px);
        img {
          max-width: 100%;
          max-height: 100%;
          display: block;
        }
      }
      .controls {
        position: absolute;
        margin: auto;
        height: 10%;
        top: 80%;
        left: 0px;
        right: 0px;
        width: 40%;
        transform: translateZ(20px);
        .btn-fab {
          height: 2em;
          width: 2em;
        }
      }
    }
  }

}