<form data-ng-submit="processForm()"
  id="storyForm" name="storyForm"
  class="blocky-form"
  novalidate
  autocomplete="off"
  >

  <fieldset>
    <div class="form-line" data-ripple-effect>
        <input type="text"
        name="title" id="title"
        data-ng-model="storyFormData.title"
        spellcheck="true"
        required
        >
        <label for="title">A title for your experience</label>
        <span class="error-required" data-ng-class="{hidden: !storyForm.title.$error.required}">This field is required.</span>
    </div>
  </fieldset>

  <fieldset>
    <header class="max-width center-pseudo select-none">
      <h2 class="roboto-condensed light-weight">Highlight your {{experienceType()}} experience</h2>
    </header>
      <div data-ripple-effect class="text-container">
        <textarea placeholder="Talk about the journey you went through"
        spellcheck="true"
        data-ng-model="storyFormData.highlight"
        name="highlight"
        data-ng-trim="false"
        data-minwords="50"
        data-maxwords="100"
        data-ng-model-options = "{allowInvalid: true}"
        required
        ></textarea>
      </div>

    <div class="highlight-validations-text">
      <span
      class="num-words" data-ng-class="{'color-red': storyForm.highlight.$invalid}">{{storyFormData.highlight|wordCounter}}/{{currentMax()}}</span>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-line" data-ripple-effect>
      <angucomplete-alt id="location"
      data-pause="250"
      data-remote-url="{{statesSearchUrl}}"
      data-title-field="name"
      data-description-field="country"
      data-match-class="match-highlight"
      data-minlength="3"
      data-auto-match="true"
      data-field-required="true"
      data-focus-in="autoCompleteFocusIn()"
      data-focus-out="autoCompleteFocusOut()"
      data-selected-object="autoCompleteObjectSelected"
      class="autocomplete pristine"
      ></angucomplete-alt>
      <label for="location">Location of experience (City)</label>
      <span
      class="error-required">This field is required</span>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-line" data-ripple-effect>
      <datepicker date-format="mediumDate">
        <input type="text"
        data-ng-model="storyFormData.date"
        name="date"
        id="storyDate"
        required
        >
        <label for="storyDate">Date of experience</label>
        <span class="error-required"
        data-ng-class="{hidden: !storyForm.date.$error.required}"
        >This field is required.</span>
      </div>
    </datepicker>
  </fieldset>

<!-- Button wrapper for positioning across all forms -->
  <div class="button-wrapper">
    <div class="max-width center-pseudo">
      <div class="center-pseudo">
        <button type="submit"
        class="btn-raised"
        data-ng-disabled="storyForm.$invalid"
        data-ng-if="!(issueApplicable() || companyApplicable())"
        >NEXT</button>
        <button
        data-flip="#storyFormFlipper" type="button" title="next" class="btn-raised"
        data-ng-if="issueApplicable() || companyApplicable()"
        data-ng-disabled="storyForm.$invalid"
        >NEXT</button>
      </div>
    </div>
  </div>
</form>