// flexboxes everywhere!

.flex-row-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.flex-column-between {
  @extend .flex-row-between;
  flex-flow: column nowrap;
}

.flex-perfect-center-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}
