
// families

.roboto {
  font-family: $roboto;
}

.roboto-condensed {
  font-family: $roboto-condensed;
}

.noto-serif {
  font-family: $noto-serif;
}

.thin-weight {
  font-weight: $thin-weight;
}

.light-weight {
  font-weight: $light-weight;
}

.normal-weight {
  font-weight: $normal-weight;
}

.bold-weight {
  font-weight: $bold-weight;
}

.ultra-bold-weight {
  font-weight: $ultra-bold-weight;
}