// more than one time use animations
@import 'transitions';
@import 'vault';
@import 'ripple';

// Keyframes
// pulse attention seekeer
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
// Simple 360deg spin
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

// Zoom entrance
@keyframes zoom-in {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// Slide entrace LTR
@keyframes slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

// Slide exit LTR
@keyframes slide-out-right {
  40% {
    opacity: 1;
    transform: scale3d(.45, .45, .45) translate3d(-42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

// fade out with display none
@keyframes fade-out-display {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes blue-blink{
  0%{
    box-shadow: none;
  }
  90%{
    box-shadow: 0px 0px 1em 0.4em transparentize($md-clr-light-blue-800, 0.6);
  }
}


// Prrofile type animations
@keyframes slide-up {
  from {
    top: 0px;
  }
  to {
    top: -13em;
  }
}

@keyframes left-p-type {
  from{
    left: 0px;
  }
  to {
    left: 33%;
  }
}

@keyframes right-p-type {
  from {
    right: 0px;
  }
  to {
    right: 33%;
  }
}
