// Various animations for the vault layout

.story-box {
  .upper.sheet {
    transition: transform .5s cubic-bezier(.25,.96,.46,.7);
    transform-style: preserve-3d;
  }

  .lower.sheet {
    transition: transform .5s cubic-bezier(.25,.96,.46,.7);
    transform-style: preserve-3d;
  }

  #formContent {
    transform-style: preserve-3d;
  }

  .floaty-aiesec-logo {
    animation: pulse 0.7s infinite;
    &:hover {
      // Issue with chrome, border radius and transform transition
      @include animation(0.3s, ease-out, forwards) {
        from {
          transform: scale(1);
        }
        to{
          transform: scale(1.2);
        }
      }
    }
  }
   .immortal-wrap {
    img {
      animation: pulse 1s ease-in-out infinite;
    }
  }
}

.story-box.open {
  .upper.sheet {
    transform: translateY(-100%);
  }
  .lower.sheet {
    transform: translateY(110%);
  }

  .floaty-aiesec-logo {
    transform: scale(0);
    animation: none;
  }

  .floaty-logo-wrapper .immortal-wrap {
    img {
      animation: none;
    }
    .first-half {
      animation: fade-out-left 1s ease-in forwards;
    }
    .second-half {
      animation: fade-out-right 1s ease-in forwards;
    }
  }
}


// Form transition animations

#formContent.ng-leave {
  animation: slide-out-right 1s ease-in;
  transform-style: preserve-3d;
  overflow: hidden;
}

.animate-view {
  #formContent.ng-enter {
    animation: slide-in-left 1s ease-out;
    transform-style: preserve-3d;
    overflow: hidden;
  }
}

.open #participantBasic {
  animation: zoom-in 0.8s ease-out forwards;
  transform-style: preserve-3d;
}


// Spinner animation

.refresh-spinner .material-icons {
  animation: spin 1s linear 0s infinite;
  transform-origin: center;
}



// Backgrounds
.story-box.open {
  background: url("images/aiesec_1.jpg"), url("images/aiesec_2.jpg");
  background-repeat: no-repeat;
  background-size: 50vw 100vh;
  @include animation (1s, ease-out, forwards) {
    from {
      background-position: -51vw 0vh, 101vw 0vh;
    }
    to {
      background-position: 0vw 0vh, 50vw 0vh;
    }
  }
}