<div class="select-panel lose-active select-none"
data-ripple-effect
tabindex="0"
data-ng-class="{selected: isSelected()}"
data-click-toggle="active"
data-prevent-default="true"
>
  <!-- Selected value -->
  <span class="value" data-ng-bind="getValue()"></span>

  <!-- List of options -->
  <ul class="option-list center-pseudo">
    <!-- An item -->
    <li class="option"
    data-ng-repeat="item in options.data"
    data-ng-click="select(item)"
    data-ng-bind="display(item)"
    ></li>
  </ul>
</div>