/*
 * Main Layout
 */
@import 'vendor/include-media';
@import 'vendor/material-color-prefixed';
@import 'partials/variables';
@import 'partials/reset';
@import 'partials/mixins';

body {
  background-color: $main-background;
  font-family: $roboto;
  font-weight: $normal-weight;
}

form {
  font-family: $roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  font-weight: $bold-weight;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

a.active {
  pointer-events: none;
  cursor: default;
}

// Webfont

.wf-loading {
  visibility: hidden;
}


@import 'widgets/main';
@import 'vault/main';
@import 'animations/main';
@import 'utility/main';
@import 'admin/admin';
@import 'error/error';