/*
 * Main Layout
 */
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/animations';
@import 'partials/utility';

body {
  background-color: $main-background;
  font-family: $sans-stack;
}

form {
  font-family: $roboto;
}


ul {
  list-style: none;
}

@import 'story_form';
@import 'fancy_select';
@import 'flip';