<form
class="blocky-form"
id="experienceType"
autocompelte="off"
name="experienceType"
data-ng-submit="processForm()"
novalidate
>
<!-- This form is for selecting the EXPERIENCE type -->
<!-- Member, talent or citizen -->
  <header class="max-width center-pseudo">
    <h1 class="select-none roboto-condensed light-weight">
    <span class="block aiesec-span">AIESEC</span>
    <span class="block">EXPERIENCE?</span></h1>
  </header>

  <fieldset class="form-line">
    <div class="select-container" data-material-select data-options='profileOpts'></div>
    <input type="hidden" id="expTypeSelectModel" class="display-none"
    data-ng-model="profileOpts.selected" required>
    <span class="error-required" data-ng-class="{hidden: !profileOpts.required()}">This field is required.</span>
  </fieldset>

  <!-- Next and previous buttons -->
  <!-- Button wrapper for positioning across all forms -->
  <div class="button-wrapper">
    <div class="button-container">
      <button data-flip="#storyFormFlipper"
      type="button" class="btn-raised">BACK</button>
      <button type="submit" class="btn-raised"
      data-ng-disabled="experienceType.$invalid">NEXT</button>
    </div>
  </div>


</form>