<form
class="blocky-form"
id="experienceType"
autocompelte="off"
name="experienceType"
data-ng-submit="processForm()"
novalidate
>
<!-- This form is for selecting the EXPERIENCE type -->
<!-- Member, talent or citizen -->
 <header class="max-width center-pseudo">
    <h1 class="select-none roboto-condensed light-weight">EXPERIENCE?</h1>
  </header>

<div class="type-container flex-perfect-center-container">
  <div class="img-wrap flex-row-between">
    <button type="button"
    data-click-toggle="selected citizen-selected"
    data-click-toggle-target="#experienceType"
    class="citizen type-option"
    >
    <img src="images/global_citizen.png">
    </button>
    <button type="button"
    class="member type-option"
    data-click-toggle="selected member-selected"
    data-click-toggle-target="#experienceType"
    >
      <img src="images/young_leaders.png">
    </button>
    <button type="button"
    data-click-toggle="selected talent-selected"
    data-click-toggle-target="#experienceType"
    class="talent type-option"
    >
    <img src="images/talent.png">
    </button>
  </div>
</div>


<input type="hidden" class="display-none" data-ng-model="profileOpts.selected"
  required>
  <!-- Next and previous buttons -->
  <!-- Button wrapper for positioning across all forms -->
  <div class="button-wrapper">
    <div class="button-container">
      <button data-flip="#storyFormFlipper"
      type="button" class="btn-raised">BACK</button>
      <button type="submit" class="btn-raised"
      data-ng-disabled="experienceType.$invalid">NEXT</button>
    </div>
  </div>


</form>