<form data-ng-submit="processForm()" class="blocky-form"
  autocomplete="off"
  name="membershipExtra"
  id="memberShipExtra"
  novalidate>
  <header class="max-width select-none center-pseudo">
    <h1 class="roboto-condensed light-weight">MEMBER EXPERIENCE?</h1>
  </header>


  <fieldset class="max-width">
    <div class="select-container"
    data-ui-view="selectPanel"></div>
    <input type="hidden" id="memExptSelectInpu" class="display-none"
    data-ng-model="expOpts.selected" required>
    <span class="error-required" data-ng-class="{hidden: !expOpts.required()}">This field is required.</span>
  </fieldset>

<!-- Button wrapper for positioning across all forms -->
  <div class="button-wrapper">
    <div class="max-width center-pseudo">
      <div class="center-pseudo">
        <button type="submit" title="NEXT"
        class="btn-raised"
        data-ng-disabled="membershipExtra.$invalid">
          NEXT
        </button>
      </div>
    </div>
  </div>
</form>