<div class="flip-container" id="storyFormFlipper" data-ng-if="!submitting">
  <div class="flipper">
    <div class="flip-front"
      data-ui-view="participantBasic">
    </div>
    <!-- End Front side -->
    <div class="flip-back"
    data-ui-view="experienceType">
    </div>
    <!-- end Back side -->
  </div>
  <!-- end flipper -->
</div>
<!-- end flip container -->

<section class="blocky-form flex-perfect-center-container flex-column-center" data-ng-if="submitting">
  
  <div class="refresh-spinner">
    <i class="material-icons">&#xE5D5;</i>
  </div>

  <p class="stand-by">
  Please wait
  </p>
</section>