<div class="flip-container max-width max-height flex-perfect-center-container" id="storyFormFlipper" data-ng-if="!submitting">
  <div class="flipper">
    <div class="flip-front"
    data-ui-view="storyBasic"
    >
    </div>
    <!-- End flip Front -->
    <div class="flip-back"
    data-ui-view="storyExtra"
    >
    </div>
    <!-- End flip back -->
  </div>
  <!-- End flipper -->
</div>
<!-- End flip container -->
<div class="max-width max-height flex-perfect-center-container">
  <section class="blocky-form flex-perfect-center-container flex-column-center" data-ng-if="submitting">
    
    <div class="refresh-spinner">
      <i class="material-icons">&#xE5D5;</i>
    </div>

    <p class="stand-by flow-text">
    Please wait - Don't close this tab
    </p>
  </section>
</div>