
// utility classes
@import 'partials/variables';
.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.select-none {
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.visibile {
  visibility: visible;
}

.display-none {
  display: none;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.required-icon {
  color: red;
}

// Main purpose is to reset default style
.btn {
  outline: none;
  appearance: none;
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

.btn-next {

}

.form-line {
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}


.flex-row-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; 
  align-content: center;
}

.flex-column-between {
  @extend .flex-row-between;
  flex-flow: column nowrap;
}

.flex-perfect-center-container {
  align-items: center;
  display: flex;
  justify-content: center;
}


// Webfont

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

