
// utility classes
@import 'partials/variables';
.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.select-none {
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.visibile {
  visibility: visible;
}

.display-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.required-icon {
  color: red;
}

// Main purpose is to reset default style
.btn {
  outline: none;
  appearance: none;
  border: none;
  background: transparent;
  display: inline-block;
  &:focus {
    outline: none;
  }

  &:hover{
    .btn-slide {
      width: 3em;
    }
  }
  &:disabled:hover {
    .btn-slide {
      width: 0;
    }
  }
}

.btn-prev {
  position: relative;
  width: 1em;
  min-width: 10px;
  .arrow {
    fill: white;
  }
}

.btn-next {
  position: relative;
  width: 1em;
  min-width: 10px;
  .arrow {
    fill: white;
  }
}

.btn-slide {
  transition: width 1s ease;
  position: absolute;
  width: 0px;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
}

.btn-slide-right {
  left: 1em;
}

.btn-slide-left {
  right: 1em;
}

.button-container {
  width: 10em;
  margin-left: 3em;
}

.form-line {
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}


.flex-row-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-column-between {
  @extend .flex-row-between;
  flex-flow: column nowrap;
}

.flex-perfect-center-container {
  align-items: center;
  display: flex;
  justify-content: center;
}


.flex-wrap {
  flex-wrap: wrap;
}

// Webfont

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

