// Fonts
$droid-serif: 'Droid Serif', serif;
$source-serif: 'Source Serif Pro', serif;
$sans-stack: 'Droid Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

// Media queries
$query-large: 'screen and (min-width: 600px)';
$query-small: 'screen and (max-width: 599px)';


// Colors
$main-background: #ecf0f1;
$midnight-blue: rgba(44, 62, 80, 1.0);
$pumkin: #d35400;
$pomegrante: #c0392b;
$alzarin: #e74c3c;