// Fonts
$droid-serif: 'Droid Serif', serif;
$source-serif: 'Source Serif Pro', serif;
$sans-stack: 'Droid Sans', sans-serif;

// Media queries
$query-large: 'screen and (min-width: 600px)';
$query-small: 'screen and (max-width: 599px)';


// Colors
$main-background: #f5f5f5;
$main-nav-background: rgb(155, 89, 182);
$top-bar-background:  rgb(41, 128, 185);
