<div class="flip-container" id="storyFormFlipper">
  <div class="flipper">
    <div class="flip-front">
      <form ng-submit="processForm()" class="story-form" autocomplete="on" 
      name="yourStoryFront" id="storyFormFront" novalidate>
        <!-- Basic participant information -->
        <h1 data-lettering>Who are you?</h1>
        <fieldset>
          <div class="form-line">
            <input type="text" name="fname" id="fname" ng-model="firstName" placeholder="First Name" ng-model="participantFormData.fname"
            required>
            <span ng-class="{hidden: !yourStoryFront.fname.$error.required}"
            class="fa fa-asterisk required-icon"></span>
          </div>
            <div class="form-line">
              <input type="text" name="lname" id="lname"
              placeholder="Last Name"
              ng-model="participantFormData.lname"
              required>
              <span ng-class="{hidden: !yourStoryFront.lname.$error.required}"
              class="fa fa-asterisk required-icon"></span>
            </div>
        </fieldset>

        <fieldset class="max-width">
          <span ng-class="{hidden: lcOpts.selected }" class="fa fa-asterisk required-icon right"></span>
          <div class="right" data-ng-include="'views/fancy_select_panel.html'"
          data-onload="options = lcOpts"></div>
        </fieldset>

        <fieldset>
          <div class="form-line flex-row-between max-width">
            <label for="avatar" ><span class="fa fa-user fa-lg"></span></label>
            <input type="file" id="avatar" name="avatar">
          </div>
        </fieldset>

        <button data-flip="#storyFormFlipper" type="button" title="next" class="btn btn-next">
        <span class="fa fa-arrow-right fa-lg"></span>
        </button>

      <!--   <button type="submit" title="proceed" class="btn btn-next"><span class="fa fa-arrow-right fa-lg"></span></button> -->
      </form>
    </div>
    <!-- End Front side -->
    <div class="flip-back">
      <form ng-submit="processForm()" class="story-form" autocomplete="on" 
        name="yourStoryBack" id="storyFormBack" novalidate
        data-copy-size="#storyFormFront"
        >
        <!-- Experience type -->
        <h1>What was your <span class="aiesec-span">AIESEC</span>experience?</h1>
        <div ng-repeat="(label, opts) in profileTypeOpts" ng-model="participantFormData.profileType">
          <input type="radio" name="{{label}}" ng-model="profileData.type"
          ng-value="opts.type">
          <label for="{{label}}"><span></span> {{label}}</label>
        </div>
        <button data-flip="#storyFormFlipper" type="button" title="back" class="btn btn-next">
        <span class="fa fa-arrow-left fa-lg"></span>
        </button>
        </form>
    </div>
    <!-- end Back side -->
  </div> 
  <!-- end flipper -->
</div>
<!-- end flip container -->