<canvas id="impactMapCanvas"></canvas>
<div id="impactUI">
  <button id="upButton" data-ng-click="moveUp(movementSpeedButton)"><i class="material-icons">keyboard_arrow_up</i></button>
  <button id="downButton" data-ng-click="moveDown(movementSpeedButton)"><i class="material-icons">keyboard_arrow_down</i></button>
  <button id="leftButton" data-ng-click="moveLeft(movementSpeedButton)"><i class="material-icons">keyboard_arrow_left</i></button>
  <button id="rightButton" data-ng-click="moveRight(movementSpeedButton)"><i class="material-icons">keyboard_arrow_right</i></button>

  <button id="inEgyptButton" data-ng-click="inEgypt()">Local Impact</button>
  <button id="outEgyptButton" data-ng-click="outEgypt()">Global Impact</button>
</div>

