//Styling for experience_type.html
// Main profile types
#participantBasic .type-container {
  top: 1vh;
  position: relative;
  width: 100%;
  height: 70%;

  // Options container
  .type-wrap {
    width: 75%;
  }
  // Logos for each profile type
  .type-wrap .type-option img {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
  }

  .type-option {
    background-color: transparent;
    position: relative;
    width: 30%;
    transition: box-shadow 0.4s ease-out,
                opacity 0.4s ease;
  }
}

// On desktop use hover effect for interactivity
.desktop #participantBasic {
  .type-container {
    .type-option {
      opacity: 0.7;
      &:hover {
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

// On mobile don't depend on hover event
.mobile #participantBasic {
  .type-container {
    .type-option {
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
    }
  }
}


.desktop #participantBasic.selected {
  .type-option {
    &:hover {
      // Show back image on hover after selection
      opacity: 0.7;
      // Keep the box shadow
      &::after {
        opacity: 1;
      }
    }
  }

}

.mobile #participantBasic.selected {
  // always show back on mobile
  .type-option {
    opacity: 0.7;
  }
  .type-option::after {
    opacity: 1;
  }
}

// Sub option styling
#participantBasic {
  // Options for Talent and Citizen profiles
  .out-in-opts {
    position: relative;
    color: $md-clr-light-blue-600;
    visibility: hidden;
    width: 100%;
    background-color: transparent;
    .opt {
      display: inline-block;
      width: 40%;
      max-width: 40%;
      height: 3em;
      margin: 0 2%;
      background-color: transparent;
      box-shadow: 0em 0.2em 0.6em rgba(0, 0, 0, 0.7);
      &:hover {
        box-shadow: 0px 0px 1em 0.4em transparentize($md-clr-light-blue-800, 0.6);
      }
    }
    &.done .opt {
      box-shadow: 0px 0px 1em 0.4em transparentize($md-clr-light-blue-800, 0.6);
      &:hover {
        box-shadow: 0px 0px 1em 0.4em transparentize($md-clr-light-blue-800, 0.6);
      }
    }
  }
  // Options specific to Member Profiles
  .member-opt {
    position: relative;
    visibility: hidden;
  }
}


#participantBasic.selected {
  // make header go away
  & > header {
    animation: fade-out 0.75s ease-out 1s forwards;
  }
  // All type animations
  .type-option {
    animation: fade-out 0.75s ease-out forwards,
                option-away 0s linear 0.75s forwards;
    opacity: 1;

    &::after {
      // back image
      content: "";
      background-image: url('images/back.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      left: 0px;
      top: 0px;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 0.4s ease-out;
      display: none;
    }
  }

  // When member is selected
  &.member-selected {
    .member {
      animation: blue-blink 0.5s linear 0s 2;
      &::after {
        display: block;
      }
    }
    // Show member subtype select panel
    .member-opt {
      top: -4em;
      animation: member-opt-animation 0.5s linear 0.5 * 2 forwards;
    }
  }

  // When citizen is selected
  &.citizen-selected {
    .citizen {
      animation: blue-blink 0.5s linear 0s 2,
                left-p-type 1s ease-out 0.5 *2s forwards;
      &::after {
        display: block;
      }
    }
  }

  // When talent is selected
  &.talent-selected {
    .talent {
      animation: blue-blink 0.5s linear 0s 2,
                right-p-type 1s ease-out 0.5 *2s forwards;
      &::after {
        display: block;
      }
    }
  }

  // When talent or citizen is selected
  &:not(.member-selected) {
    .out-in-opts {
      top: 2em;
      animation: out-in-opt-animation 0s ease-out 0.5 * 2 + 1.3s forwards,
                slide-in-left 0.7s cubic-bezier(0,.24,0,.44) 0.5 * 2 + 1.3s;
      header {
        top: -3em;
        position: relative;
      }
    }
  }
}

@keyframes member-opt-animation {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes option-away {
  to {
    visibility: hidden;
  }
}

@keyframes out-in-opt-animation {
   to {
    visibility: visible;
  }
}

