// landing page floaty button
.story-box .floaty-aiesec-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border-radius: 50%;
  margin: auto;
  width: 6em;
  height: 6em;
  overflow: hidden;
  box-shadow: inset 0 0 1.5em rgba(0, 0, 0, 0.6), 0 0 1em rgba(0, 0, 0, 0.7);
  background-color: $md-clr-grey-50;
  transition: all 0.2s ease;
  &:hover {
    width: 7em;
    height: 7em;
    box-shadow: inset 0 0 1.5em rgba(0, 0, 0, 0.7), 0 0 1.5em 0.5em rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
  .logo {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 4px;
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    background-color: transparent;
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: $md-clr-indigo-900;
      transform: translateX(30%) rotateZ(90deg);
    }
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      left: 0;
      background-color: $md-clr-indigo-900;
      transform: rotateZ(-56deg);
    }

  }
}

.story-box .floaty-circle {
  position: absolute;
  width: 14em;
  height: 14em;
  background-color: $md-clr-light-blue-600;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    background-color: $md-clr-orange-600;
    height: 10em;
    width: 10em;
    top: 2em;
    left: 2em;
    z-index: 3;
  }
}