// landing page floaty button
.story-box .floaty-logo-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  .floaty-aiesec-logo {
    position: absolute;
    top: calc(50% - 4em);
    @media (max-width: 409px) {
      top: calc(50% - 3.5em);
    }
    left: calc(50% - 3em);
    box-sizing: border-box;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    box-shadow: inset 0px 0px 1em rgba(0, 0, 0, 0.6), 0px 0px 1.4em 0.5em rgba(0, 0, 0, 0.5);
    background-image: url('images/aiesec_letter_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s ease;
    &:hover {
      cursor: pointer;
    }
  }

  .story-box .floaty-circle {
    position: absolute;
    width: 14em;
    height: 14em;
    background-color: $md-clr-light-blue-600;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 50%;
    &::after {
      content: "";
      position: absolute;
      border-radius: inherit;
      background-color: $md-clr-orange-600;
      height: 10em;
      width: 10em;
      top: 2em;
      left: 2em;
      z-index: 3;
    }
  }
}