.story-box footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: $md-clr-light-blue-600;
  transition: all .25s ease;
  box-shadow: 0 0 1.3em rgba(0, 0, 0, 0.8);
  .logo-image {
    background-color: white;
    height: auto;
    width: 6.5em;
    margin: 0;
    padding: 0;
    float: right;
    vertical-align: bottom;
  }
}