// select panel
.blocky-form .select-container {
  position: relative;
  background-color: $md-clr-grey-50;
  .select-panel {
    font-family: $roboto;
    font-size: 1.5em;
  }
  & ~.error-required {
    display: inline-block;
    color: red;
    position: relative;
    width: 17em;
    float: right;
    margin-top: 2.3em;
    
  }

}

#memberShipExtra .select-container {
  position: relative;
  width: 25em;
  right: 0px;
  margin: 30% auto 0 auto;
  .select-panel {
    @media (min-height: 600px) {
      font-size: 2em;
    }
  }
  & ~.error-required {
    margin-top: 0.3em;
    margin-left: 10%;
    @media (min-height: 600px) {
      font-size: 2em;
    }
  }
}

#experienceType .select-container {
  width: 40%;
  margin: 33% auto 0px auto;
  min-width: 15em;
  & ~.error-required {
    position: absolute;
    left: 0px;
    display: block;
    width: 40%;
    margin: 0.3em auto 0px auto;
    right: 0px;
    float: none;
  }
}

#participantBasic fieldset.form-line {
  margin: 0 auto -1em auto;
}