// select panels
.blocky-form .select-container {
  position: relative;
  background-color: $md-clr-grey-50;
  .select-panel {
    font-family: $roboto;
    font-size: 1.5em;
  }
  & ~.error-required {
    display: inline-block;
    color: red;
    position: relative;
    width: 17em;
    float: right;
    margin-top: 2.3em;
    
  }
}

#participantBasic fieldset.form-line {
  margin: 0 auto -1em auto;
}

#storyBack .select-container {
  & ~.error-required {
    float: none;
    margin: 0.3em auto 0px auto;
  }
}