.blocky-form #avatarPreview {
  width: 10em;
  height: 10em;
  max-width: 10em;
  max-height: 10em;
  position: relative;
  top: -2em;
  display: inline-block;
  float: right;
  box-sizing: border-box;
}