@import 'header';
@import 'floaty_buttons';
@import 'sheet';
@import 'illustrations';
@import 'form';
@import 'raised_buttons';
@import 'fab_buttons';
@import 'radio_buttons';
@import 'story_form';
@import 'date';
@import 'experience_type';
@import 'landing_page';

.story-box {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  overflow: hidden;
  &::before {
    // Browser topbar shadow
    position: absolute;
    top: -1em;
    left: 0px;
    content: "";
    width: 100%;
    height: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
    z-index: 5;
  }
}



p.thank-you {
  font-size: 2em;
  margin: 2em 1.5em;
}

.blocky-form .refresh-spinner .material-icons {
  font-size: 8em;
}

.blocky-form .refresh-spinner {
  width: 10em;
  height: 10em;
}


p.stand-by {
  margin: 0 auto;
  width: 40%;
}