.btn-raised {
  position: relative;
  display: block;
  color: white;
  background-color: $md-clr-light-blue-600;
  padding: 1em;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: $normal-weight;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
  font-weight: $bold-weight;
  transition: background-color .3s ease,
    box-shadow .3s ease-out, color .3s ease;
  text-transform: uppercase;
  vertical-align: middle;
}

.btn-raised[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  background-color: $md-clr-grey-500;
  color: $md-clr-grey-700;
}

