<div data-ng-if="!loadingPage">
<section id="results">
  <ul class="participants-list">
    <li class="participant" data-ng-repeat="participant in data">
      <div data-ng-include="'partials/participant_slug.html'">
      </div>
    </li>
  </ul>
  <p data-ng-if="data.length == 0">
    No data has been entered yet.
  </p>

<section class="page-controls" data-ng-if="hasPages">
  <button data-ng-disabled="currentPage == 1" data-ng-click="goPage(currentPage - 1)" class="pagination-arrow-left"></button>
  <span class="page-number">{{currentPage}}/{{totalPages}}</span>
  <button data-ng-click="goPage(currentPage + 1)" data-ng-disabled="currentPage == totalPages" class="pagination-arrow-right"></button>
</section>

</section>
</div>
<div class="max-screen flex-perfect-center-container" data-ng-if="loadingPage">
  <section class="page-refresh flex-perfect-center-container flex-column-center" >
    <div class="refresh-spinner">
      <i class="material-icons">&#xE5D5;</i>
    </div>
    <p class="stand-by flow-text">
    Loading..
    </p>
  </section>
</div>