<div class="fancy-select-panel-wrapper lose-active select-none" data-click-toggle='active' data-prevent-default="true"
data-fancy-select
>
<span data-ng-bind="options.dataDisplay(options.selected) || options.title" class="fancy-select-panel-title"></span>
  <ul class="fancy-select-panel-dropdown"
  data-custom-scrollbar
  data-mcs-axis="y"
  >
    <li data-ng-repeat="item in options.data" ng-click="options.selected = item">
      <div data-font-to-fit 
      data-font-to-fit-text="options.dataDisplay(item)">{{options.dataDisplay(item)}}</div>
    </li>
  </ul>
</div>